* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Roboto";
}

header {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
}

nav {
    background-color: #000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav img {
    width: 125px;
    height: auto;
    margin-right: 100px;
}