* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Roboto";
  background-color: #000;
}

header {
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
}

nav {
  background-color: #000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav img {
  width: 125px;
  height: auto;
  margin-right: 100px;
}

.hero {
  position: relative;
  height: 700px;
  background: url("assets/background.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.hero-text {
  color: #000;
  font-family: "Krona One", sans-serif;
  z-index: 1;
}

.hero-text h1 {
  margin-top: -100px;
}

.hero-text p {
  margin: 0px;
}

.small-paragraph {
  width: 700px;
  font-size: 16px;
  padding-top: 50px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff700;
  color: #000;
  text-decoration: none;
  z-index: 1;
  margin-top: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  background-color: #000;
  color: #fff;
  border-bottom: #fff solid 0.5px;
  height: 120px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.search-box {
  height: 25px;
  width: 300px;
}

.search-button {
  height: 25px;
  width: 125px;
  background-color: #fff700;
  color: #000;
  text-decoration: none;
}

.site-footer {
  background-color: #fff;
  color: #000; 
  border-top: #4b4b4b solid 2px;
  margin-top: 200px;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 25%; 
  margin-bottom: 20px;
}

.social-icons {
  text-align: right;
}

.social-icons a {
  margin: 0 15px;
}

.social-icons img {
  width: 50px;
  height: auto;
}

.quick-links {
  text-align: left;
}

.quick-links a{
  text-decoration: none;
  color: #fff;
}

.quick-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}

.container {
  position: relative;
  height: 100%;
  background: url("assets/gym-background.jpg") center/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership-container {
  background-color: #00000079;
  color: #fff;
  height: 90%;
  width: 90%;
  border-radius: 40px;
  z-index: 1;
  align-items: start;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.membership-container h2 {
  font-size: 46px;
  margin-left: 20px;
  width: 100%;
}

.membership-card {
  border-radius: 15px;
  padding-top: 15px;
  margin-top: 20px;
  width: 260px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
}

.membership-card ul {
  height: 200px;
}

.membership-title {
  font-size: 26px;

}

.card-button {
  padding: 10px 20px;
  background-color: #fff700;
  color: #000;
  text-decoration: none;
  z-index: 1;
  transform: translateY(-50%);
}

.register-container {
  width: 100%;
  display: flex;
}

.register-text {
  margin-top: 100px;
  margin-left: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 50%;
}

.register-text p {
  font-size: 22px;
  color: #e7e7e7;
}

.form-container {
  background-color: #d9d9d9;
  height: 500px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin-top: 20px;
  margin-left: 150px;
}

form {
  width: 100%;
  padding: 20px;
  padding-top: 45px;
  font-size: 22px;
}

form input {
  border: none;
  height: 25px;
  width: 200px;
  margin-top: 10px;
}

.gender-select {
  width: auto;
  margin: 10px;
  font-size: 12px;
}

form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.register-button {
  padding: 5px 30px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #4a4a4a;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #d9d9d9;
  height: 500px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  margin-top: 20px;
  margin-left: 150px;
}

.login-container form {
  width: 100%;
  padding: 20px;
  padding-top: 45px;
  font-size: 22px;
}

.login-container input {
  border: none;
  height: 25px;
  width: 200px;
  margin-top: 10px;
}

.login-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.login-button {
  border: solid #4a4a4a 0.2px;
  padding: 10px 30px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #4a4a4a;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #cccccc;
  color: #000;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px;
}

.feature {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

.feature:hover{
  transform: scale(1.05);
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  color: #666;
  margin-bottom: 15px;
}

.feature a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}