<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha384-cGiEGMQ1T8ZFWM6QiiB8zQBRSF2cgt7Wu1Uv2piTFYMO6r6E5yHZGv8Cc7QsN4jG" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="memberships.html">Memberships</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a href="product.html">Blog</a></li>
        <li><a href="about.html">About us</a></li>
      </ul>
      <a href="index.html"><img src="assets/logo-transparent.png" alt="logo" /></a>
      <ul>
        <li><a href="dashboard.php">Dashboard</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Log in</a></li>
      </ul>
    </nav>
  </header>

  <div class="about-section">
    <h2>About Tom Platz Gym</h2>
    <p>Welcome to Tom Platz Gym, where fitness meets excellence. Our mission is to provide a state-of-the-art
      fitness facility where individuals can embark on a journey towards a healthier lifestyle. We believe in
      personalized fitness programs tailored to meet your unique goals and aspirations.</p>
    <img src="assets/about_page.jpg" alt="Tom Platz Gym Interior" />
  </div>

  <div class="info-section">
    <div class="info-box">
      <i class="fas fa-dumbbell"></i>
      <h3>Number of Gyms</h3>
      <p>5</p>
    </div>
    <div class="info-box">
      <i class="fas fa-users"></i>
      <h3>Staff Members</h3>
      <p>20</p>
    </div>
    <div class="info-box">
      <i class="fas fa-user-friends"></i>
      <h3>Active Members</h3>
      <p>500</p>
    </div>
  </div>


  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-section">
        <div class="social-icons">
          <a href="#" target="_blank"><img src="assets/fb-logo.png" alt="Facebook"></a>
          <a href="#" target="_blank"><img src="assets/twt-logo.png" alt="Twitter"></a>
          <a href="#" target="_blank"><img src="assets/ig-logo.png" alt="Instagram"></a>
        </div>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <p>Email: info@tomplatzgym.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a style="color: #000;" href="#">Home</a></li>
          <li><a style="color: #000;" href="#">Memberships</a></li>
          <li><a style="color: #000;" href="#">Products</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>About Tom Platz Gym</h3>
        <p>Welcome to Tom Platz Gym, your fitness destination for a healthier lifestyle. We provide
          state-of-the-art facilities and personalized fitness programs to help you achieve your fitness
          goals.</p>
      </div>
    </div>
    <p class="copyright">&copy; 2023 Tom Platz Gym. All rights reserved.</p>
  </footer>
</body>

</html>