<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link rel="stylesheet" href="blog.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="memberships.html">Memberships</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a href="product.html">Blog</a></li>
        <li><a href="about.html">About us</a></li>
      </ul>
      <a href="index.html"><img src="assets/logo-transparent.png" alt="logo" /></a>
      <ul>
        <li><a href="dashboard.php">Dashboard</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Log in</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero-section">
    <a href="login.html">
      <div class="slider">
      </div>
    </a>
    <button class="slider-btn prev-btn" onclick="prevSlide()">&#10094;</button>
    <button class="slider-btn next-btn" onclick="nextSlide()">&#10095;</button>
  </div>

  <div class="latest-post">
    <h2>Latest Post</h2>
    <div class="blog-list">
      <div class="blog-card">
        <img src="assets/header_1.jpg" alt="Post Image 1" />
        <div class="blog-card-content">
          <h3>The Best Gym Workout Plan For Gaining Muscle</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_2.jpg" alt="Post Image 2" />
        <div class="blog-card-content">
          <h3>The Best Gym Workout Plans For Beginners</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_3.jpg" alt="Post Image 3" />
        <div class="blog-card-content">
          <h3>Calories And Weight Loss</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_4.jpg" alt="Post Image 4" />
        <div class="blog-card-content">
          <h3>One Hour Gym Workouts - Home Gym Edition</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="regular-posts">
    <h2>Regular Blog Posts</h2>
    <div class="blog-list">
      <div class="blog-card">
        <img src="assets/header_1.jpg" alt="Post Image 1" />
        <div class="blog-card-content">
          <h3>The Best Gym Workout Plan For Gaining Muscle</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_2.jpg" alt="Post Image 2" />
        <div class="blog-card-content">
          <h3>The Best Gym Workout Plans For Beginners</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_3.jpg" alt="Post Image 3" />
        <div class="blog-card-content">
          <h3>Calories And Weight Loss</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>

      <div class="blog-card">
        <img src="assets/header_4.jpg" alt="Post Image 4" />
        <div class="blog-card-content">
          <h3>One Hour Gym Workouts - Home Gym Edition</h3>
          <a href="full-post.html">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="footer-container">
      <div class="footer-section">
        <div class="social-icons">
          <a href="#" target="_blank"><img src="assets/fb-logo.png" alt="Facebook"></a>
          <a href="#" target="_blank"><img src="assets/twt-logo.png" alt="Twitter"></a>
          <a href="#" target="_blank"><img src="assets/ig-logo.png" alt="Instagram"></a>
        </div>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <p>Email: info@tomplatzgym.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a style="color: #000;" href="#">Home</a></li>
          <li><a style="color: #000;" href="#">Memberships</a></li>
          <li><a style="color: #000;" href="#">Products</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>About Tom Platz Gym</h3>
        <p>Welcome to Tom Platz Gym, your fitness destination for a healthier lifestyle. We provide
          state-of-the-art facilities and personalized fitness programs to help you achieve your fitness
          goals.</p>
      </div>
    </div>
    <p class="copyright">&copy; 2023 Tom Platz Gym. All rights reserved.</p>
  </footer>
</body>

<script src="slider.js"></script>

</html>